JWT_SECRET=chave_super_secreta_do_projeto

GATEWAY_PORT=5000
USERS_PORT=5001
PRODUCTS_PORT=5002
ORDERS_PORT=5003

USERS_URL=http://localhost:5001
PRODUCTS_URL=http://localhost:5002
ORDERS_URL=http://localhost:5003
